@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --hue: 0;
  --saturation: 0%;
  --foreground-color: hsl(var(--hue), var(--saturation), 80%);
  --background-color: hsl(var(--hue), var(--saturation), 5%);
}

body {
  margin: 0;
  background-color: var(--background-color);
  overflow: hidden;
  font-family: "Schibsted Grotesk", sans-serif;
}

.paddle {
  --position: 50;

  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position) * 1vh);
  transform: translateY(
    -50%
  ); /*transforms Y of element 50% of its own height making it centered vertically*/
  width: 1vh;
  height: 10vh;
}

.paddle.left {
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}

.ball {
  --x: 50;
  --y: 50;

  position: absolute;
  background-color: var(--foreground-color);
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;
}

.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  color: var(--foreground-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.score > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2vh;
  margin: 1vh 0;
  opacity: 0.5;
}

.score > :first-child {
  text-align: right;
  border-right: 0.5vh solid var(--foreground-color);
}

#settingsContainer {
  display: none;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  visibility: hidden;
}

#settingsMenu {
  width: 75vh;
  height: 45vh;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: var(--foreground-color);
  --background-color: hsl(var(--hue), var(--saturation), 8%);
  background-color: var(--background-color);
  color: var(--foreground-color);
  z-index: 69;
  position: absolute;
}

#settingsMenuHeader {
  display: flex;
  justify-content: space-between;
  color: var(--foreground-color);
  border-bottom: 4px solid var(--foreground-color);
  padding: 5px;
  z-index: 70;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*specify transition lol cause javascript wanna poopy xD skibidi sigma W aura*/
.closeBtn {
  padding: 5px;
  transition: color 0.15s, transform 0.15s;
}

.closeBtn:hover {
  color: rgb(250, 55, 55);
  cursor: pointer;
  transform: scale(1.2);
}

.settings {
  position: absolute;
  top: 3%;
  right: 5%;
  background-color: transparent;
  border: none;
  transition: all 0.1s;
}

.settings:hover {
  opacity: 0.8;
}

.settings:active {
  transform: scale(0.9);
}

.gear {
  color: var(--foreground-color);
  font-size: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.settingItem {
  padding: 0px 30px;
}

.settingItem p {
  font-size: 22px;
  font-weight: bold;
}

#volumeSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background-color: #070707;
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 25px;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f9fffd;
  cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f9fffd;
  cursor: pointer;
}

#easy-bot {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid green;
  border-radius: 50%;
  transition: background-color 0.25s;
  cursor: pointer;
}

#easy-bot:checked {
  background-color: green;
}

#normal-bot {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid yellow;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  transition: background-color 0.25s;
  cursor: pointer;
}

#normal-bot:checked {
  background-color: yellow;
}

#hard-bot {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid red;
  border-radius: 50%;
  transition: background-color 0.25s;
  cursor: pointer;
}

#hard-bot:checked {
  background-color: red;
}

#theme {
  width: 5em;
  height: 2em;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: #0e0e0e60;
  color: white;
  font-weight: bold;
  border-style: solid;
  border-radius: 20px;
  transition: opacity 0.2s;
}

#theme:hover {
  opacity: 0.69;
}
